## Import Libraries

In [206]:
import pandas as pd
import numpy as np 
import seaborn as sns
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import matplotlib.pyplot as plt

## Data Preparation

In [224]:
df1 = pd.read_csv("../data/2015.csv")
df2 = pd.read_csv("../data/2016.csv")
df3 = pd.read_csv("../data/2017.csv")
df4 = pd.read_csv("../data/2018.csv")
df5 = pd.read_csv("../data/2019.csv")

In [225]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [226]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

In [227]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [228]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [229]:
df4['Country or region'].head()

0        Finland
1         Norway
2        Denmark
3        Iceland
4    Switzerland
Name: Country or region, dtype: object

In [230]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [231]:
df5['Country or region'].head()

0        Finland
1        Denmark
2         Norway
3        Iceland
4    Netherlands
Name: Country or region, dtype: object

In [232]:
df1['Year'] = "2015"
df2['Year'] = "2016"
df3['Year'] = "2017"
df4['Year'] = "2018"
df5['Year'] = "2019"

df1.rename(columns={
    'Happiness Rank': 'Happiness_Rank',
    'Happiness Score': 'Happiness_Score',
    'Economy (GDP per Capita)': 'Economy_GDP_per_Capita',
    'Health (Life Expectancy)': 'Health_Life_Expectancy',
    'Trust (Government Corruption)': 'Trust_Government_Corruption',
    'Dystopia Residual': 'Dystopia_Residual'
}, inplace=True)

df2.rename(columns={
    'Happiness Rank': 'Happiness_Rank',
    'Happiness Score': 'Happiness_Score',
    'Lower Confidence Interval': 'Lower_Confidence_Interval',
    'Upper Confidence Interval': 'Upper_Confidence_Interval',
    'Economy (GDP per Capita)': 'Economy_GDP_per_Capita',
    'Health (Life Expectancy)': 'Health_Life_Expectancy',
    'Trust (Government Corruption)': 'Trust_Government_Corruption',
    'Dystopia Residual': 'Dystopia_Residual'
}, inplace=True)

df3.rename(columns={
    'Happiness.Rank': 'Happiness_Rank',
    'Happiness.Score': 'Happiness_Score',
    'Whisker.high': 'Upper_Confidence_Interval',
    'Whisker.low': 'Lower_Confidence_Interval',
    'Economy..GDP.per.Capita.': 'Economy_GDP_per_Capita',
    'Health..Life.Expectancy.': 'Health_Life_Expectancy',
    'Trust..Government.Corruption.': 'Trust_Government_Corruption',
    'Dystopia.Residual': 'Dystopia_Residual'
}, inplace=True)

df4.rename(columns={
    'Overall rank': 'Happiness_Rank',
    'Country or region': 'Country',
    'Score': 'Happiness_Score',
    'GDP per capita': 'Economy_GDP_per_Capita',
    'Social support': 'Family',
    'Healthy life expectancy': 'Health_Life_Expectancy',
    'Freedom to make life choices': 'Freedom',
    'Perceptions of corruption': 'Trust_Government_Corruption'
}, inplace=True)

df5.rename(columns={
    'Overall rank': 'Happiness_Rank',
    'Country or region': 'Country',
    'Score': 'Happiness_Score',
    'GDP per capita': 'Economy_GDP_per_Capita',
    'Social support': 'Family',
    'Healthy life expectancy': 'Health_Life_Expectancy',
    'Freedom to make life choices': 'Freedom',
    'Perceptions of corruption': 'Trust_Government_Corruption'
}, inplace=True)

dfs = [df1, df2, df3, df4, df5]
data = pd.concat(dfs, ignore_index=True)

In [235]:
data.head()

,Country,Region,Happiness_Rank,Happiness_Score,Standard Error,Economy_GDP_per_Capita,Family,Health_Life_Expectancy,Freedom,Trust_Government_Corruption,Generosity,Dystopia_Residual,Year,Lower_Confidence_Interval,Upper_Confidence_Interval
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN,NaN
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN,NaN

## EDA

In [218]:
null_percentage = data.isnull().mean() * 100
print(null_percentage)

Country                         0.000000
Region                         59.718670
Happiness_Rank                  0.000000
Happiness_Score                 0.000000
Standard Error                 79.795396
Economy_GDP_per_Capita          0.000000
Family                          0.000000
Health_Life_Expectancy          0.000000
Freedom                         0.000000
Trust_Government_Corruption     0.127877
Generosity                      0.000000
Dystopia_Residual              39.897698
Year                            0.000000
Lower_Confidence_Interval      60.102302
Upper_Confidence_Interval      60.102302
dtype: float64

### NAs Handling

In [219]:
numeric_columns = data.select_dtypes(include=[np.number]).columns

imputer = IterativeImputer(max_iter=10, random_state=42)

data_imputed = imputer.fit_transform(data[numeric_columns])
data_imputed_df = pd.DataFrame(data_imputed, columns=numeric_columns)
data[numeric_columns] = data_imputed_df

print(data.isnull().sum())

Country                          0
Region                         467
Happiness_Rank                   0
Happiness_Score                  0
Standard Error                   0
Economy_GDP_per_Capita           0
Family                           0
Health_Life_Expectancy           0
Freedom                          0
Trust_Government_Corruption      0
Generosity                       0
Dystopia_Residual                0
Year                             0
Lower_Confidence_Interval        0
Upper_Confidence_Interval        0
dtype: int64

In [221]:
unique_countries = data['Country'].unique()
print(unique_countries)

['Switzerland' 'Iceland' 'Denmark' 'Norway' 'Canada' 'Finland'
 'Netherlands' 'Sweden' 'New Zealand' 'Australia' 'Israel' 'Costa Rica'
 'Austria' 'Mexico' 'United States' 'Brazil' 'Luxembourg' 'Ireland'
 'Belgium' 'United Arab Emirates' 'United Kingdom' 'Oman' 'Venezuela'
 'Singapore' 'Panama' 'Germany' 'Chile' 'Qatar' 'France' 'Argentina'
 'Czech Republic' 'Uruguay' 'Colombia' 'Thailand' 'Saudi Arabia' 'Spain'
 'Malta' 'Taiwan' 'Kuwait' 'Suriname' 'Trinidad and Tobago' 'El Salvador'
 'Guatemala' 'Uzbekistan' 'Slovakia' 'Japan' 'South Korea' 'Ecuador'
 'Bahrain' 'Italy' 'Bolivia' 'Moldova' 'Paraguay' 'Kazakhstan' 'Slovenia'
 'Lithuania' 'Nicaragua' 'Peru' 'Belarus' 'Poland' 'Malaysia' 'Croatia'
 'Libya' 'Russia' 'Jamaica' 'North Cyprus' 'Cyprus' 'Algeria' 'Kosovo'
 'Turkmenistan' 'Mauritius' 'Hong Kong' 'Estonia' 'Indonesia' 'Vietnam'
 'Turkey' 'Kyrgyzstan' 'Nigeria' 'Bhutan' 'Azerbaijan' 'Pakistan' 'Jordan'
 'Montenegro' 'China' 'Zambia' 'Romania' 'Serbia' 'Portugal' 'Latvia'
 'Philippines' 'Somaliland region' 'Morocco' 'Macedonia' 'Mozambique'
 'Albania' 'Bosnia and Herzegovina' 'Lesotho' 'Dominican Republic' 'Laos'
 'Mongolia' 'Swaziland' 'Greece' 'Lebanon' 'Hungary' 'Honduras'
 'Tajikistan' 'Tunisia' 'Palestinian Territories' 'Bangladesh' 'Iran'
 'Ukraine' 'Iraq' 'South Africa' 'Ghana' 'Zimbabwe' 'Liberia' 'India'
 'Sudan' 'Haiti' 'Congo (Kinshasa)' 'Nepal' 'Ethiopia' 'Sierra Leone'
 'Mauritania' 'Kenya' 'Djibouti' 'Armenia' 'Botswana' 'Myanmar' 'Georgia'
 'Malawi' 'Sri Lanka' 'Cameroon' 'Bulgaria' 'Egypt' 'Yemen' 'Angola'
 'Mali' 'Congo (Brazzaville)' 'Comoros' 'Uganda' 'Senegal' 'Gabon' 'Niger'
 'Cambodia' 'Tanzania' 'Madagascar' 'Central African Republic' 'Chad'
 'Guinea' 'Ivory Coast' 'Burkina Faso' 'Afghanistan' 'Rwanda' 'Benin'
 'Syria' 'Burundi' 'Togo' 'Puerto Rico' 'Belize' 'Somalia'
 'Somaliland Region' 'Namibia' 'South Sudan' 'Taiwan Province of China'
 'Hong Kong S.A.R., China' 'Trinidad & Tobago' 'Northern Cyprus'
 'North Macedonia' 'Gambia']

In [222]:
selected_columns = data[['Country', 'Region']]
selected_columns.head(1000)

                      Country          Region
0                 Switzerland  Western Europe
1                     Iceland  Western Europe
2                     Denmark  Western Europe
3                      Norway  Western Europe
4                      Canada   North America
..                        ...             ...
777                    Rwanda             NaN
778                  Tanzania             NaN
779               Afghanistan             NaN
780  Central African Republic             NaN
781               South Sudan             NaN

[782 rows x 2 columns]

In [223]:
region_countries = {
    # North Aerica
    'North America': ['Canada', 'United States'],
    
    # Australia
    'Australia and New Zealand': ['New Zealand', 'Australia'],
    
    # South America
    'Latin America and Caribbean': ['Costa Rica', 'Mexico', 'Brazil', 'Panama', 'Chile', 'Argentina', 'Uruguay', 
        'Colombia', 'Trinidad and Tobago', 'Trinidad & Tobago', 'El Salvador', 'Guatemala', 'Suriname', 'Jamaica', 'Dominican Republic', 
        'Nicaragua', 'Ecuador', 'Bolivia', 'Peru', 'Paraguay', 'Venezuela', 'Honduras', 'Haiti', 'Guatemala', 'Belize', 
        'Cuba', 'Puerto Rico'],
    
    #Europe
    'Europe' : ['Northern Cyprus', 'North Macedonia', 'North Cyprus'],
    'Central and Eastern Europe': ['Czech Republic', 'Slovakia', 'Poland', 'Hungary', 'Slovenia', 'Croatia', 'Bosnia and Herzegovina', 
        'Estonia', 'Lithuania', 'Latvia', 'Romania', 'Bulgaria', 'Serbia', 'Montenegro', 'Macedonia', 'Albania', 'Kosovo', 'Ukraine', 
        'Belarus', 'Moldova', 'Russia'],
    'Western Europe': ['Switzerland', 'Iceland', 'Denmark', 'Norway', 'Finland', 'Netherlands', 'Sweden', 
    'Luxembourg', 'Ireland', 'Belgium', 'United Kingdom', 'Austria', 'Germany', 'France', 'Malta', 'Spain', 
    'Italy', 'Cyprus', 'Portugal', 'Greece'],
    
    # Asia
    'Central Asia' : ['Uzbekistan', 'Kazakhstan', 'Turkmenistan', 'Kyrgyzstan', 'Tajikistan'],
    'South Asia' : ['Bhutan', 'Bangladesh', 'India', 'Nepal', 'Pakistan', 'Sri Lanka'],
    'Eastern Asia': ['Taiwan', 'Japan', 'South Korea', 'Hong Kong', 'Mongolia', 'China'],
    'Southeastern Asia': ['Singapore', 'Thailand', 'Vietnam', 'Malaysia', 'Indonesia', 'Philippines', 'Laos', 'Myanmar', 'Cambodia'],
    'Caucasus and Central Asia': ['Azerbaijan', 'Georgia'],
    'East Asia': ['Taiwan Province of China', 'Hong Kong S.A.R., China'],
    
    # Africa
    'Western Africa' : ['Ghana', 'Ivory Coast', 'Guinea'],
    'Eastern Africa' : ['Djibouti', 'Comoros'],
    'Sub-Saharan Africa': ['Mauritius', 'Nigeria', 'Somaliland region', 'Kenya', 'Zambia', 'Zimbabwe', 'Liberia', 'Namibia', 'Somalia', 'South Africa', 
        'Niger', 'Congo (Kinshasa)', 'Uganda', 'Mozambique', 'Senegal', 'Gabon', 'Tanzania', 
        'Madagascar', 'Central African Republic', 'Chad', 'Ethiopia', 'Mauritania', 'Malawi', 
        'Sierra Leone', 'Congo (Brazzaville)', 'Armenia', 'Botswana', 'Mali', 'Angola', 'Benin', 
        'Mauritania', 'Burkina Faso', 'Rwanda', 'Togo', 'Burundi', 'South Sudan', 'Gambia'],
    'Northern Africa and Middle East' : ['Egypt', 'Sudan'],
    'East Africa' : ['Somaliland Region'],
    'Middle East and Northern Africa': ['Israel', 'Cameroon', 'United Arab Emirates', 'Oman', 'Saudi Arabia', 'Kuwait', 'Bahrain', 'Qatar', 
        'Libya', 'Jordan', 'Lebanon', 'Tunisia', 'Turkey', 'Algeria', 'Morocco', 'Iran', 'Iraq', 
        'Palestinian Territories', 'Yemen', 'Syria', 'Afghanistan'],
    'Southern Africa' : ['Lesotho','Swaziland']
}
country_region_mapping = {country: region for region, countries in region_countries.items() for country in countries}

data['Region'] = data['Country'].map(country_region_mapping)
print(data.isnull().sum())

Country                        0
Region                         0
Happiness_Rank                 0
Happiness_Score                0
Standard Error                 0
Economy_GDP_per_Capita         0
Family                         0
Health_Life_Expectancy         0
Freedom                        0
Trust_Government_Corruption    0
Generosity                     0
Dystopia_Residual              0
Year                           0
Lower_Confidence_Interval      0
Upper_Confidence_Interval      0
dtype: int64